.App-navigation * {
  z-index: 1;
}

.App-navigation .top-bar, .App-navigation .menu {
  background-color: #3c3b3b;
}

.App-navigation .logo {
  border-right: 2px solid #767676;
}

.App-navigation .top-bar-left .menu {
  flex-wrap: nowrap;
}

.App-navigation .top-bar-left li a {
  transition: color .1s linear;
}

.App-navigation .top-bar-left li:hover a {
  color: #767676;
}

.App-navigation .top-bar-right {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.top-search {
  float: left;
  align-self: center;
}

.top-search input {
  border-radius: 2px;
  border: none;
  padding: .35rem 1rem;
  outline: none;
}

.user-profile {
  position: relative;
  margin-left: .5rem;
}

.user-profile .button {
  padding: 0;
  border: none;
  display: inline-block;
  background-color: transparent;
}

.user-profile .button::after {
  margin: 0 0 0 .5rem;
  transform: translateY(11px) rotateX(180deg);
  transition: transform .25s linear;
}

.user-profile .menu {
  /* background-color: #fff; */
  background-color: #3c3b3b;
  position: absolute;
  right: calc(-.5rem + 2px);
  top: calc(100% + .5rem);
  box-shadow: 0 0 0 2px #3c3b3b;
  overflow: hidden;
  transform-origin: top;
  transition: transform .25s ease-in-out;
}

.user-profile[visible="false"] .menu {
  /* display: none; */
  transform: scaleY(0);
}

.user-profile[visible="false"] .button::after {
  transform: translateY(11px) rotate(0deg);
}

.user-profile .menu li:hover {
  background-color: #3c3b3b;
}

.user-profile .menu li:hover a {
  background-color: #fff;
  color: #3c3b3b;
}

.user-picture {
  position: relative;
  max-height: 38px;
  max-width: 38px;
  overflow: hidden;
  float: left;
}

.user-picture img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.main-content {
  background-color: #292929;
  min-height: calc(100vh - 54px);
  padding-top: 1rem;
}

.projects-view-control .button-group {
  justify-content: flex-end;
}

.projects-container header h3 {
  font-weight: bold;
  color: white;
  margin-left: 2rem;
}

.projects-container__content small {
  cursor: pointer;
  position: relative;
}

.projects-container__content small::before {
  content: ' / ';
  display: inline;
}

.projects-container__content small[current="true"]::after {
  position: absolute;
  bottom: -2px;
  right: 0;
  content: '';
  display: inline-block;
  width: calc(100% - 1.5ch);
  height: 2px;
  background-color: #cacaca;
}

.project-container {
  color: #cacaca;
  position: relative;
}

.project-container h5, .project-container .pages-count {
  color: #fff;
}

.project-container .button {
  margin: 0 .5rem;
}

.project-container .content {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 3px;
}

.project-container .content img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.project-container .content::before {
  content: '';
  display: inline-block;
  padding: calc(100% / (4 / 3) / 2) 0;
}

.project-container .button-group {
  width: calc(100% - 1rem);
  position: absolute;
  bottom: 0;
}

.project-container .content:hover .project-description {
  display: inline-block;
}

.project-container .project-description {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  animation-name: showAnimation;
  animation-duration: .15s;
  animation-timing-function: linear;
}

.project-container .project-description .text {
  padding: .5rem;
  text-align: left;
}

.project-container footer {
  padding: .5rem;
}

.project-container .project-pages {
  text-align: right;
}

.project-container .project-pages span::after {
  content: ':';
  margin-right: 1ch;
  display: inline;
}

.project-container .project-date {
  border-top: 1px solid #767676;
  padding-top: .5rem;
}

.project-container .project-date p {
  width: 50%;
  display: inline-block;
}

.project-container .project-date span {
  display: block;
}

.project-container .project-date p:nth-child(even) {
  text-align: right;
}

@keyframes showAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}
