.menu a {
  color: #fff;
}

.menu-text {
  color: #767676;
}

.menu-text a {
  padding: 0;
  margin: 0;
}

.button {
  outline: none;
  border-radius: 2px;
  box-sizing: border-box;
}

.pagination li {
  border-radius: 2px;
  overflow: hidden;
}

.pagination li.current {
  background-color: #3c3b3b;
}

.pagination li:hover a {
  background-color: #767676;
}

.pagination li a, .pagination .ellipsis::after {
  color: #fff;
}

.ReactModal__Overlay {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background-color: rgba(0, 0, 0, .75) !important;
  overflow: auto;
}

.ReactModal__Content {
  margin: auto;
  margin-top: 2rem;
  position: relative !important;
  left: auto !important;
  top: auto !important;
  right: auto !important;
  bottom: auto !important;
  overflow: visible !important;
}
